body {
font-family: Arial, Helvetica, sans-serif;


}





header{


background-color: rgb(66, 66, 66);
color:fff;
padding: 10px;
text-align: center;




}





nav{


background-color: rgb(14, 14, 14);
color:rgb(49, 49, 49);
padding: 10px;
text-align: center;






}

nav a{
color: rgb(5, 140, 173);
text-decoration: none;
margin: 0 10px;



}



section{


padding: 50px;
text-align: center;






}

footer{

background-color: coral;





}